{% extends 'catalog/base.html' %}
{% load catalog_tags %}
{% block content %}}

<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ object.image | media_filter }}">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.price }} руб.</h1>
                    <b>{{ object.category.name }}</b>
                    <p>{{ object.active_version }}</p>
                    <div class="mt-3 mb-4 text-start m-3">
                      {{ object.description | linebreaks }}
                    </div>
                    <div class="mt-3 mb-4 text-start m-3">
                      Дата создания: {{ object.created_at }}
                    </div>
                    <div class="mt-3 mb-4 text-start m-3">
                      Дата изменения: {{ object.updated_at }}
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'catalog:product_edit' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Редактировать продукт</a>
                        <a href="{% url 'catalog:product_delete' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Удалить</a>
                        <button type="button" class="btn btn-sm btn-primary">Купить</button>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
{% endblock %}
